@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 30vw;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}
:root {
    --paragraph: 'Roboto Mono', sans-serif;
    --title: 'Bebas Neue', serif;
}

#cabecalho {
        width: 100%;
        height: 25vw;       
        margin: none; 
}

#cabecalho > h1 {
    font-variant: small-caps;
    font-family: var(--title);
    font-size: 11.0vw;
}

#cabecalho > p {
    text-align: center;
    font-size: large;
    font-family: var(--paragraph);
}

#cabecalho > p > a {
    color: gray;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
}

#cabecalho > p > a:hover {
    text-decoration: underline;
}

.whiteblock {
    width: 70%;
    padding: 2vh 2vh 2vh 3vh;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;

}

.whiteblock > p {
    font-size: 3.5vw;
    line-height: 7vw;
    font-family: var(--paragraph);

}


.imageblock {
    width: 94.5%;
    height: 65vw;
    padding: 2vh 2vh 2vh 3vh;
    font-family: var(--paragraph);
    font-weight: bold;
    font-size: 3.5vw;
    box-shadow: inset 5px 3px 29px 1px;
    margin-bottom: 30px;


    position: relative;
}

.imageblock > p {
    background-color: rgba(0, 0, 0, 0.371);
    color: white;
    width: 93vw;
    height: auto;
    line-height: 7vw;
    padding: 15px 13px 15px 15px;


    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
}


#imageblock1 {
    background-image: url(images/criancas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#imageblock2 {
    background-image: url(images/favela.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 0;

}

footer > p {
    margin: 0px;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-align: center;
}